<center>
	<h1>BATTLE</h1>
</center>

<div class="sprites">
	{{#each heroes as |character|}}
	    <div class="sprite-hero">
	        <img src="images/{{ character.spriteUrl }}" alt="{{character.name}}">
	        <p class="health">Health: {{ character.health }}</p>
	        <button class="attack">Attack with {{ character.ability }}</button>
	    </div>
	{{/each}}
	{{#each enemies as |character|}}
		<div class="sprite-enemy">
	        <img src="images/{{ character.spriteUrl }}" alt="{{character.name}}">
	        <p class="health">Health: {{ character.health }}</p>
	        <p class="enemy-attack">Attack: {{ character.ability }}</p>
	    </div>
	{{/each}}
</div>

{{!-- the photo of whatever the 'chosen' character is --}}

{{!-- the photo of the enemy depending on the round --}}
