<center>
	<h1>BATTLE</h1>
</center>

<div class="sprites">

{{!-- the photo of whatever the 'chosen' character is --}}

	{{#each heroes as |character|}}
	    <div class="sprite-hero">
	        <img src="images/{{ character.spriteUrl }}" alt="{{character.name}}">
			<p class="sprite-name">{{ character.name }}</p>
	        <p class="health">Health: {{ character.health }}</p>
	        <button class="attack">Attack with {{ character.ability.name }}</button>
	    </div>
	{{/each}}

{{!-- the photo of the enemy depending on the round --}}

	{{#each enemies as |character|}}
		<div class="sprite-enemy">
	        <img src="images/{{ character.spriteUrl }}" alt="{{character.name}}">
	        <p class="sprite-name">{{ character.name }}</p>
	        <p class="health">Health: {{ character.health }}</p>
	        <p class="enemy-attack">Attack: {{ character.ability.name }}</p>
	    </div>
	{{/each}}
</div>
